<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test API">
    <classes>
      <class name="MavenFramwwork.APIGetRequest"/>
      <class name="MavenFramwwork.Demo"/>
      <class name="MavenFramwwork.AddnDeletetheRequest"/>
      <class name="MavenFramwwork.PostRequest"/>
    </classes>
  </test> <!-- Test API -->
</suite> <!-- Suite -->
